*{
    margin: 0;padding: 0;box-sizing: border-box;
}

#wrapper{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-pink{
    background-color: #4681f4;
    color: white;
    border-radius: 9px;
    padding:10px;
    font-size: 31px;
    box-shadow: 5px 5px 9px 0px #00003f;
    position: relative;
    z-index: 1;
}
.btn-pink::before{
    content:"";
    background-color: #1f1f1f;
    position: absolute;
    top: 0;left: 0;right: 0;bottom: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.8s;
    z-index: -1;border-radius: 9px;
}

.btn-pink:hover::before{
    cursor: pointer;
    transform: scaleX(1);
    border-radius: 9px;
}